<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Location</h4>
        <p>
          Gliwice, Poland.
        </p>
      </div>
      
      <div class="col-lg-4">
        <h4>Social</h4>
        <p>
          <a href="https://www.facebook.com/patrycja.krawiec.750?fref=ts">Facebook</a><br>
          <a href="callto:patka1403">Skype</a>
        </p>
      </div>
      
      <div class="col-lg-4">
        <h4>Contact</h4>
        <p>
          <a href="mailto:contact@patrycjakrawiec.eu">contact@patrycjakrawiec.eu</a><br>
          <a href="callto:+48504171849">+48 504 171 849 </a>
        </p>
      </div>
    
    </div>
  
  </div>
</div>