<div id="work" class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>PORTFOLIO</h3>
      <hr>
    </div>
  </div>
  <div class="row mt centered portfolio"> 
    <div class="col-lg-4">
      <a class="zoom green" data-city="Gliwice" data-title="Highschool of arts" href="/portfolio/highschool-of-arts">
        <img class="lazy img-responsive" data-original="/assets/img/portfolio/port01.png" alt="HIGHSCHOOL OF ARTS" />
      </a>
    </div>
    <div class="col-lg-4">
      <a class="zoom green" data-city="Horsens" data-title="Multi-storey houses" href="/portfolio/highschool-of-arts">
        <img class="lazy img-responsive" data-original="/assets/img/portfolio/port02.png" alt="MULTI-STOREY HOUSES " />
      </a>
    </div>
    <div class="col-lg-4">
      <a class="zoom green" data-city="Gliwice" data-title="Single family house" href="/portfolio/highschool-of-arts">
        <img class="lazy img-responsive" data-original="/assets/img/portfolio/port03_.jpg" alt="SINGLE FAMILY HOUSE" />
      </a>
    </div>
  </div><!-- /row -->
  <div class="row mt centered portfolio"> 
    <div class="col-lg-4">
      <a class="zoom green" data-city="Gliwice" data-title="Energy-saving house of culture" href="/portfolio/highschool-of-arts">
        <img class="lazy img-responsive" data-original="/assets/img/portfolio/port04_.jpg" alt="ENERGY-SAVING HOUSE OF CULTURE" />
      </a>
    </div>
    <div class="col-lg-4">
      <a class="zoom green" data-city="Gliwice" data-title="Public toilet" href="/portfolio/highschool-of-arts">
        <img class="lazy img-responsive" data-original="/assets/img/portfolio/port05_.jpg" alt="PUBLIC TOILET" />
      </a>
    </div>
    <div class="col-lg-4">
      <a class="zoom green" data-city="Gliwice" data-title="Labyrinth of colours" href="/portfolio/highschool-of-arts">
        <img class="lazy img-responsive" data-original="/assets/img/portfolio/port06_.jpg" alt="LABYRINTH OF COLOURS" />
      </a>
    </div>
  </div>
</div>