<div class="main" id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
      <img class="lazy" data-original="/assets/img/user_1.jpg" alt="Patrycja Krawiec">
      <h1>About me!</h1>
      <p>I'm Polish student in architecture and I love photography. I'm interested in all kinds of visual design, but my major focus is on interior architecture. I also have skills in other fields like -- write something here --.</p>
      </div>
    </div>
  </div>
</div>